<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">


</head>
<body>
    <div class="vertical-nav">
        <ul>
            <%- include('partial/vertical-nav') %>
        </ul>
        
    </div>

    <div class="main">
        <div class="study-plan">
            <h1> Study Plan 1</h1>
        </div>

        <div class="study-plan">
            <h1> Study Plan 2</h1>
        </div>
        <div class="study-plan">
            <h1> Study Plan 3</h1>
        </div>
        <div class="study-plan">
            <h1> Study Plan 4</h1>
        </div>
        <div class="study-plan">
            <h1> Study Plan 5</h1>
        </div>
    </div>
</body>
</html>