<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Better Study</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    
<header>
    <div>

        <img class="logo" src="/images/betterstudylogo.png">

        <nav class="navbar">
            <ul>
                <li><a href="#">Pricing</a></li>
                <li><a href="#">Community</a></li>
                <li><a href="#">Company</a></li>
                <li><a href="#">Sign In</a></li>
                <li id="login"><a href="dashboard">Log In</a></li>
            </ul>
        </nav>
    </div>
</header>

<div class="main">
    
    <img src="/images/nick-morrison-FHnnjk1Yj7Y-unsplash.jpg">

    <h1>Level up your study</h1>

    <p>Tool to make students enter in the flow of studying easier and consistency</p>

</div>

</body>
</html>