<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">


</head>
<body>
    <div class="vertical-nav">
        <ul>
            <%- include('partial/vertical-nav') %>
        </ul>
        
    </div>

    <div class="main">
        <ul>
            <li class="user">
                <img>
                <a href="#">FAQ</a>
            </li>
            <li class="">
                <a href="">Customer Support</a>
            </li>
            <li class="">
                <a href="">Forums</a>
            </li>
            <li class="">
                <a href="">Tips & Tricks</a>
            </li>
            <li class="">
                <a href="">Settings</a>
            </li>
        </ul>
    </div>
</body>
</html>