<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="vertical-nav">
        <ul>
            <%- include('partial/vertical-nav') %>
        </ul>
        
    </div>

    <div class="main">
        <div class="container">
            <h1 class="page-name">Study Plans</h1>
            <div class="main-wrapper">
                <div class="planner">
                    <ul>
                        <li>
                            Week 1
                        </li>
        
                        <li>
                            Week 2
                        </li>
        
                        <li>
                            Week 3
                        </li>
        
                        <li>
                            Week 4
                        </li>
        
                        <li>
                            Week 5
                        </li>
                    </ul>
                </div>
            </div>
            
        </div>

        
    </div>
</body>
</html>