
<li class="nav-icons">
    <img src="./images/noun-user-874667.svg">
    <div class="user">
        <a href="settings">
            <p class="nav-name">John Doe</p>
        </a>
        <a href="./" class="user-img">
            <img src="./images/img_20085.png" alt="Log Out">
        </a>
    </div>
</li>
<li class="nav-icons">
    <a href="dashboard" class="nav-link">
    <img src="./images/noun-dashboard-665063.svg">
    <p class="nav-name">Dashboard</p></a>
</li>
<li class="nav-icons">
    <a href="files" class="nav-link">
    <img src="./images/noun-folder-1560960.svg">
    <p class="nav-name">Files</p></a>
</li>
<li class="nav-icons">
    <a href="calendar" class="nav-link">
    <img src="./images/noun-calendar-1011953.svg">
    <p class="nav-name">Calendar</p></a>
</li>
<li class="nav-icons">
    <a href="statistics" class="nav-link">
    <img src="./images/noun-statistics-3730655.svg">
    <p class="nav-name">Statistics</p></a>
</li>
<li class="nav-icons">
    <a href="settings" class="nav-link">
    <img src="./images/noun-setting-1408237.svg">
    <p class="nav-name">Settings</p></a>
</li>
