
<li class="user">
    <img src="./images/noun-user-874667.svg">
    <a href="#">User</a>
</li>
<li class="">
    <img src="./images/noun-dashboard-665063.svg">
    <a href="dashboard">Dashboard</a>
</li>
<li class="">
    <img src="./images/noun-folder-1560960.svg">
    <a href="files">Files</a>
</li>
<li class="">
    <img src="./images/noun-calendar-1011953.svg">
    <a href="calendar">Calendar</a>
</li>
<li class="">
    <img src="./images/noun-statistics-3730655.svg">
    <a href="statistics">Statistics</a>
</li>
<li class="">
    <img src="./images/noun-setting-1408237.svg">
    <a href="settings">Settings</a>
</li>
